*.jl.cov
*.jl.*.cov
*.jl.mem

.DS_Store

doc/build/
doc/site/

doc/src/stdlib/
doc/deps
doc/UnicodeData.txt

*.ipynb_checkpoints
**/*.ipynb_checkpoints
**/**/*.ipynb_checkpoints

_*.dat
*.swp
__pycache__/
